.footer {
  background-color: #f8f8f8;
  padding: 3.25rem 1.5rem 2rem;
  text-align: center;
  margin-top: 7.5rem;

  @media screen and (min-width: 30em) {
    margin-top: 6rem;
  }

  @media screen and (min-width: 48em) {
    margin-top: 12.5rem;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1158px;
  margin: 0 auto;
}

.top {
  width: 100%;
}

.navigation {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;

  a {
    color: white;
    text-decoration: none;
    margin-bottom: 0.8rem;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 2px;

    &:hover {
      color: rgb(216, 125, 74);
    }
  }
}

.description {
  font-size: 15px;
  margin-bottom: 2rem;
  color: #9b9b9b;
  word-wrap: break-word;
}

.social {
  margin-bottom: 20px;

  a {
    color: white;
    font-size: 20px;
    margin: 0 10px;

    &:hover {
      color: rgb(216, 125, 74);
    }
  }
}

p {
  margin: 0;
}

.copyright {
  font-size: 15px;
  color: #9b9b9b;
  margin-bottom: 2rem;
}

@media screen and (min-width: 30em) {
  .logo {
    display: flex;
    width: 100%;
  }

  .description {
    text-align: left;
    grid-area: a;
  }

  .navigation {
    flex-direction: row;
    width: 100%;
  }

  .credentials {
    display: grid;
    grid-template-columns: 50% 1fr;
    grid-template-areas:
      "a a"
      "b c";
    gap: 3rem;
  }

  .social {
    grid-area: c;
    justify-self: end;
  }

  .copyright {
    grid-area: b;
    justify-self: start;
  }
}

@media screen and (min-width: 48em) {
  .top {
    display: flex;
    max-height: 25px;
    align-items: center;
    margin-bottom: 4rem;
  }

  .logo {
    max-width: 144px;
  }

  .navigation {
    margin: 0;
    justify-content: end;

    a {
      margin: 0;
    }
  }
}

@media screen and (min-width: 62em) {
  .container {
    padding: 2rem 5rem 0;
  }

  .credentials {
    grid-template-areas:
      "a c"
      "b b";
  }

  .social {
    align-self: end;
    margin: 0;
  }
}
